body{
    background-color: black;
}
.container{
    display: flex;
    background-color: dodgerblue;
    border: 5px solid midnightblue;
    outline: 5px solid white;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Helvetica, sans-serif;

}
/* Instead of just picking the class, I used the descendant combinator method */
.container .box{
    background-color: palevioletred;
    width: 80px;
    height: 80px;
    font-weight: bold;
    border: 5px solid maroon;
    text-align: center;
}