*{
    max-width: 600px;
    margin: 0 auto;

}

.div1{
    background-color: lightpink;
    border: 3px solid blue;
    margin: 12px;
}
.div2{
    border: 2px solid purple;
    background-color: lightblue;
    margin-bottom: 48px;
}
.div3{
    width: 200px;
    border: 2px solid brown;
    background-color: peachpuff;
    margin-right: 0;

}
.div1,
.div3{
    padding: 32px;
}