.header{
    display: flex;
    background-color: papayawhip;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family:  Courier, monospace;

}

.main{
    color: tomato;
    padding: 5px 32px;
    font-size: 48px;
    font-weight: 900;
}

ul{
    display: flex;
    gap: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a, .main{
    background-color: white;
}

a{
    color: mediumblue;
    text-decoration: none;
    padding: 6px;
    font-size: 22px;
}
